In [4]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np 
import pylab

In [5]:
df = pd.read_csv("Aakash_columns.csv")
df

      Age Attrition  HourlyRate  JobInvolvement OverTime  WorkLifeBalance
0      41       Yes          94               3      Yes                1
1      49        No          61               2       No                3
2      37       Yes          92               2      Yes                3
3      33        No          56               3      Yes                3
4      27        No          40               3       No                3
...   ...       ...         ...             ...      ...              ...
1465   36        No          41               4       No                3
1466   39        No          42               2       No                3
1467   27        No          87               4      Yes                3
1468   49        No          63               2       No                2
1469   34        No          82               4       No                4

[1470 rows x 6 columns]

In [19]:
#remove OverTime and Attrition column for now 

df_num = df.drop(columns = ["OverTime", "Attrition"]) 
df_num

      Age  HourlyRate  JobInvolvement  WorkLifeBalance
0      41          94               3                1
1      49          61               2                3
2      37          92               2                3
3      33          56               3                3
4      27          40               3                3
...   ...         ...             ...              ...
1465   36          41               4                3
1466   39          42               2                3
1467   27          87               4                3
1468   49          63               2                2
1469   34          82               4                4

[1470 rows x 4 columns]

In [21]:
#find overall means

age_mean = df["Age"].mean()
hour_mean = df["HourlyRate"].mean()
job_mean = df["JobInvolvement"].mean()
hour_mean = df["WorkLifeBalance"].mean()

Age                 9.135373
HourlyRate         20.329428
JobInvolvement      0.711561
WorkLifeBalance     0.706476
dtype: float64

In [11]:
#make screenshot of data overall 


data_whole = pd.DataFrame({'hourly pay': [hour_mean], 'worklife balance': [job_mean], 'age':[age_mean], 'involvement': [job_mean]})
data_whole

   hourly pay  worklife balance       age  involvement
0    2.761224          2.729932  36.92381     2.729932

In [25]:
#find means grouped by attrition rate 


hourly_mean = df.groupby('Attrition').HourlyRate.mean()
balance_mean = df.groupby('Attrition').WorkLifeBalance.mean()
age_mean_attrition = df.groupby('Attrition').Age.mean()
job_mean_attrition = df.groupby('Attrition').JobInvolvement.mean()

In [28]:
#make dataframe based on Attrition 

df_by_Attrition =pd.DataFrame({'hourly pay': hourly_mean, 'worklife balance': balance_mean, 'age':age_mean_attrition, 'involvement': job_mean_attrition})

df_by_Attrition

           hourly pay  worklife balance        age  involvement
Attrition
No          65.952149          2.781022  37.561233     2.770479
Yes         65.573840          2.658228  33.607595     2.518987

In [30]:
#ttests for hourlyRate

#H0: there is no statistical difference between 
#hourly mean of those that left the company

#HA: there is a stat difference between hourly mean   

pop1 = df[df["Attrition"] == "Yes"]
pop2 = df[df["Attrition"] == "No"]

st.ttest_ind(pop1.HourlyRate, pop2.HourlyRate)

#therefore we cannot reject the null hyp, people dont attrite for hourly rates

Ttest_indResult(statistic=-0.26228987349264493, pvalue=0.7931347689944243)

In [31]:
#ttests for JobInvolvement

#H0: there is no statistical difference between Job Involvement



st.ttest_ind(pop1.JobInvolvement, pop2.JobInvolvement)

Ttest_indResult(statistic=-5.024140228583729, pvalue=5.677065356745289e-07)

In [32]:
st.ttest_ind(pop1.WorkLifeBalance, pop2.WorkLifeBalance)

Ttest_indResult(statistic=-2.4548148934297767, pvalue=0.014211054989021308)