In [13]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np 
import pylab

In [14]:
df = pd.read_csv("Aakash_columns.csv")
df

      Age Attrition  HourlyRate  JobInvolvement OverTime  WorkLifeBalance
0      41       Yes          94               3      Yes                1
1      49        No          61               2       No                3
2      37       Yes          92               2      Yes                3
3      33        No          56               3      Yes                3
4      27        No          40               3       No                3
...   ...       ...         ...             ...      ...              ...
1465   36        No          41               4       No                3
1466   39        No          42               2       No                3
1467   27        No          87               4      Yes                3
1468   49        No          63               2       No                2
1469   34        No          82               4       No                4

[1470 rows x 6 columns]

In [15]:
hourly_mean = df.groupby('Attrition').HourlyRate.mean()
balance_mean = df.groupby('Attrition').WorkLifeBalance.mean()
age_mean = df.groupby('Attrition').Age.mean()
job_mean = df.groupby('Attrition').JobInvolvement.mean()

In [19]:
data =pd.DataFrame({'hourly pay': hourly_mean, 'worklife balance': balance_mean, 'age':age_mean, 'involvement': job_mean})

data

           hourly pay  worklife balance        age  involvement
Attrition
No          65.952149          2.781022  37.561233     2.770479
Yes         65.573840          2.658228  33.607595     2.518987